ul#hybrid_selection * {
  transition: all ease 0.25s;
}

ul#hybrid_selection {
  display: flex;
  margin: auto;
  text-decoration: none;
  color: #ededed;
  list-style: none;
  width: 330px;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
ul#hybrid_selection li {
  cursor: pointer;
  font-weight: 500;
  width: 110px;
  text-align: center;
}
ul#hybrid_selection li:nth-child(2) {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
ul#hybrid_selection li:hover {
  color: #6476eb;
}
ul#hybrid_selection li.selectedHybrid {
  color: #f7860e;
}
ul#hybrid_selection div.hybrid_selection_bar {
  width: 40px;
  height: 3px;
  background-color: #ededed;
  border-radius: 4px;
}

div#hybrid_container {
  width: 100%;
  height: 90%;
  display: grid;
  font-family: "Montserrat", sans-serif;
  grid-template-columns: repeat(3, 30%);
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
div#hybrid_container section.manage_hybrid * {
  transition: all ease 0.25s;
}
div#hybrid_container section.manage_hybrid {
  background-color: #262626;
  border-radius: 10px;
  position: relative;
  /*

      &::before {
          content: "";
          position: absolute;
          border-top: 4px #373737 dashed;
          width: 80%;
          z-index: 9;
          left: 50%;
          transform: translateX(-50%);
          top: 20px;
      }

      &::after {
          content: "";
          position: absolute;
          border-top: 4px #373737 dashed;
          width: 80%;
          z-index: 9;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
      }
  */
}
div#hybrid_container section.manage_hybrid .new_bybrid_has_selected {
  display: none !important;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
  width: 80%;
  padding: 20px 0;
  border-top: 4px dashed #373737;
  border-bottom: 4px dashed #373737;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper {
  width: 140px;
  height: 140px;
  background-color: #373737;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper i {
  color: #969696;
  font-size: 6rem;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper p {
  font-size: 0.9rem;
  color: #969696;
  font-weight: 500;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:hover {
  background-color: #262626;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:hover i.bxs-cube {
  color: #6476eb;
  transform: scale(1.1);
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:hover i.bxs-layer {
  color: #f7860e;
  transform: scale(1.1);
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:hover p {
  color: #ffffff;
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:active i.bxs-cube:hover {
  color: #969696;
  transform: scale(0.9);
}
div#hybrid_container section.manage_hybrid .Add_new_hybrid div#add_new_hybrid_selection div.hybrid_icon_wrapper:active i.bxs-layer:hover {
  color: #969696;
  transform: scale(0.9);
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin: auto;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid h2 {
  text-align: center;
  color: #ededed;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 30px 0 20px;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid label {
  text-align: left;
  color: #f3f3f3;
  margin: 15px 0 5px;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid input {
  width: 100%;
  background-color: #373737;
  padding: 5px;
  height: 30px;
  color: #ffffff;
  border: none;
  outline: none;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button {
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: #ededed;
  color: #262626;
  height: 35px;
  margin: 25px auto 5px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button i {
  font-size: 2rem;
  margin-left: -3px;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button:hover {
  border: 2px solid #f3f3f3;
  background-color: #373737;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button:hover i {
  color: #6476eb;
  margin-left: 10px;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button:hover span {
  color: #ffffff;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button span,
div#hybrid_container section.manage_hybrid #deploy_new_hybrid button i {
  display: inline-block;
  vertical-align: middle;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid textarea {
  width: 100%;
  background-color: #373737;
  padding: 5px;
  height: 30%;
  color: #ffffff;
  border: none;
  outline: none;
  resize: none;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid p.not-found {
  color: #f7860e;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid div.option_container button {
  width: 50%;
}
div#hybrid_container section.manage_hybrid #deploy_new_hybrid div.option_container button:first-child {
  color: #f3f3f3;
}
div#hybrid_container section.display_hybrid_info {
  background-color: #262626;
  border-radius: 10px;
  grid-column: span 2;
  position: relative;
}
div#hybrid_container section.display_hybrid_info div.search_bar_container {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div#hybrid_container section.display_hybrid_info div.search_bar_container input.search_bar {
  width: 300px;
  background-color: #373737;
  color: #f3f3f3;
  border: none;
  outline: none;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
}
div#hybrid_container section.display_hybrid_info div.search_bar_container input.search_bar::placeholder {
  color: #c4c4c4;
}
div#hybrid_container section.display_hybrid_info div.search_bar_container i.bx-search {
  color: #6476eb;
  font-size: 2rem;
  margin-left: 5px;
}
div#hybrid_container section.display_hybrid_info #assessmet_field *, div#hybrid_container section.display_hybrid_info .assessmet_field * {
  transition: all ease 0.5s;
}
div#hybrid_container section.display_hybrid_info .assessmet_field {
  display: block;
  z-index: -2;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(38, 38, 38, 0);
  color: #f3f3f3;
  font-size: 0.9rem;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .exit_adding_test {
  background-color: #373737;
  position: absolute;
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .exit_adding_test .bx-chevron-right {
  position: relative;
  color: #ededed;
  font-size: 2rem;
  transform: rotate(180deg);
}
div#hybrid_container section.display_hybrid_info .assessmet_field .exit_adding_test:hover {
  background-color: #404040;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center {
  transform: translateX(10px);
  width: 90%;
  margin: 25px auto 0;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center div, div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center button {
  display: inline-block;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center div label, div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center button label {
  font-weight: 500;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center div input, div#hybrid_container section.display_hybrid_info .assessmet_field .wrap_center button input {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  height: 30px;
  border: none;
  outline: none;
  color: #f3f3f3;
  background-color: #373737;
}
div#hybrid_container section.display_hybrid_info .assessmet_field .added_test_wrapper {
  border: 3px solid rgba(243, 243, 243, 0);
}
div#hybrid_container section.display_hybrid_info .display_assessment_field {
  z-index: 3;
  opacity: 1;
  background-color: #262626;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .wrap_center #psychological_test {
  width: 69%;
  margin-right: 1%;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .wrap_center #standard_input {
  margin-right: 1%;
  width: 19%;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .wrap_center button {
  width: 10%;
  height: 30px;
  border: none;
  outline: none;
  background-color: #6476eb;
  color: #f3f3f3;
  cursor: pointer;
  transition: all ease 0.25s;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .wrap_center button:hover {
  background-color: #35418b;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .wrap_center button:active {
  background-color: #6476eb;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 72svh;
  max-height: 550px;
  width: 100%;
  margin: 20px auto;
  border: 3px solid #f3f3f3;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table * {
  transition: all ease 0.25s;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table {
  font-size: 0.85rem;
  width: 99%;
  text-align: left;
}
@media screen and (max-height: 550px) {
  div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table {
    border-right: 2px solid #f3f3f3;
  }
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table thead tr th {
  background-color: #404040;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody {
  background-color: #373737;
  color: #ededed;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr {
  background-color: #373737;
  padding: 5px;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr td {
  height: 30px;
  padding: 5px 7px;
  font-size: 0.82rem;
  font-weight: 400;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr td.edit_test_bttn {
  background-color: #6476eb;
  width: 70px;
  text-align: center;
  cursor: pointer;
  font-weight: 500 !important;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr td.edit_test_bttn:hover {
  background-color: #35418b;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr td.delete_test_bttn {
  background-color: #f7860e;
  width: 70px;
  text-align: center;
  cursor: pointer;
  font-weight: 500 !important;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper table tbody tr td.delete_test_bttn:hover {
  background-color: #c96800;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field .added_test_wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #ededed;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field div.added_test_wrapper::-webkit-scrollbar-thumb {
  background-color: #6878e0;
}
div#hybrid_container section.display_hybrid_info .display_assessment_field div.added_test_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #f7860e;
}
div#hybrid_container section.display_hybrid_info #display_hybrids {
  letter-spacing: 0.025em;
  height: 78%;
  padding: 15px 25px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  grid-template-rows: 100px 100px;
  grid-row-gap: 3%;
  grid-column-gap: 2%;
  overflow-y: auto;
  overflow-x: hidden;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info {
  background-color: #373737;
  color: #ededed;
  margin-bottom: 1%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  position: relative;
  height: 100px;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .hybrid_name {
  font-weight: 600;
  width: 70%;
  font-size: 1rem;
  margin-bottom: 5px;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .hybrid_price_range {
  font-weight: 500;
  width: 70%;
  font-size: 0.9rem;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .hybrid_price_range p {
  color: #6878e0;
  display: inline-block;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes {
  width: 30%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes button {
  width: 80px;
  border: none;
  outline: none;
  height: 30px;
  display: block;
  cursor: pointer;
  transition: all ease 0.25s;
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0);
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes button:first-child {
  background-color: #ededed;
  color: #262626;
  margin-bottom: 10px;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes button:first-child:hover {
  background-color: #373737;
  color: #ededed;
  border: 2px solid #ededed;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes button:last-child {
  background-color: #f7860e;
  color: #ededed;
}
div#hybrid_container section.display_hybrid_info #display_hybrids .hybrid_info .make_hybrid_changes button:last-child:hover {
  border: 2px solid #ededed;
}
div#hybrid_container section.display_hybrid_info div#display_hybrids::-webkit-scrollbar {
  width: 10px;
  background-color: #ededed;
}
div#hybrid_container section.display_hybrid_info div#display_hybrids::-webkit-scrollbar-thumb {
  background-color: #6878e0;
}
div#hybrid_container section.display_hybrid_info div#display_hybrids::-webkit-scrollbar-thumb:hover {
  background-color: #f7860e;
}/*# sourceMappingURL=Hybrid.css.map */