main * {
    letter-spacing: .025em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.field_message, .field_warn, .field_is_successful {
    position: absolute;
    left: 50%;
    top: 30px;
    z-index: 100;
    transform: translateX(-50%);
    padding: 5px 10px;
    width: auto;
    min-width: 300px;
    text-align: center;
    font-size: .93rem;
    font-weight: 600;
    top: -50px;
    opacity: 0;
    border: 2px solid #00000000;
    transition: all cubic-bezier(.1,.4,.35,1.4) .45s;
}

.field_show {
    top: 30px;
    opacity: 1;
    border: #ededed solid 2px;
    transition: all cubic-bezier(.1,.4,.35,1.4) .45s;
}

.field_message {
    background-color: #262626;
    color: #ededed;
}

.field_warn {
    background-color: #f7860e;
    color: #ededed;
}

.field_is_successful {
    background-color: #6878e0;
    color: #ededed;
}

main#purchase_container {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-self: center;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;

    section#hybrid_info {
        grid-column: span 2;
        background-color: #262626;
        border-radius: 10px;
        position: relative;

        #display_hybrids {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
            grid-template-rows: repeat(auto-fill, 85px);
            letter-spacing: .025em;
            padding: 15px 25px;
            row-gap: 1.5%;
            height: 73svh;
            margin-right: 10px;
            margin-bottom: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            justify-content: center;
            color: #ededed;
            scrollbar-width: thick;
            scrollbar-color: #6878e0 #ededed00;
            transition: all ease .25s;
            
            div.hybrid_info_displayed {
                background-color: #373737;
                border-radius: 10px;
                height: 85px;
                padding: 10px;
                cursor: pointer;
                border: solid 2px #00000000;
                position: relative;
                transition: all ease .25s;

                .hybrid_name {
                    font-weight: 600;
                    font-size: .883rem;
                }

                .hybrid_type {
                    @extend .hybrid_name;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    text-transform: capitalize;
                    transition: all ease .25s;
                }
        
                .hybrid_price_range {
                    font-weight: 500;
                    width: 70%;
                    margin-top: 3px;
                    font-size: .85rem;
                    transition: all ease .25s;
                }
        
                .hybrid_quantity {
                    margin-top: 3px;
                    @extend .hybrid_price_range;
                    p {
                        display: inline-block;
                        color: #ededed;
                    }
                }
            }

            div.hybrid_info_displayed:hover {
                background-color: #262626;
                border: solid #ededed 2px;
                transform: scale(1.03);
                .hybrid_price_range {
                    color: #6878e0;
                }

                .hybrid_type {
                    color: #f7860e;
                }
            }

            div.hybrid_info_displayed:active {
                background-color: #ededed;
                border: solid #ededed 2px;
                transform: scale(.97);
            }
        }

        #psyc_list_container * {
            transition: all ease .25s;
        }

        div.psyc_list_container {
            background-color: #373737;
            width: 100%;
            height: 100%;
            left: 50px;
            position: absolute;
            border-radius: 10px;
            z-index: -3;
            padding: 30px;
            padding-right: 60px;
            opacity: 0;
            transition: all ease .25s;

            .view_first_section {
                background-color: #262626;
                color: #ededed;
                font-size: 1.8rem;
                height: 100%;
                width: 30px;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                border-radius: 0 10px 10px 0;
                transition: all ease .25s;

                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .view_first_section:hover {
                background-color: #212121;
                i {
                    color: #ededed;
                }
            }

            .psyc_test_select_container {
                overflow: auto;
                height: 100%;
                scrollbar-width: thick;
                scrollbar-color: #f7860e #ededed00;
                border: 2px solid #ededed;

                table {
                    padding: 2px;
                    width: 100%;
                    thead {
                        tr {
                            th {
                                background-color: #6878e0;
                                padding: 7px;
                                font-size: .94rem;
                                color: #ededed;
                            }
                        }
                    }
                    tbody {
                        border: 2px solid #ededed;
                        tr {
                        border: 2px solid #ededed;
    
                            td {
                                text-align: left;
                                color: #262626;
                                padding: 7px;
                                font-size: .9rem;
                                font-weight: 600;
                                &:not(:last-child) {
                                    background-color: #ededed;
                                }
    
                                span {
                                    color: #f7860e;
                                }
                                .clear {
                                    clear: both;
                                } 
                                .checkBox {
                                  display: block;
                                  margin: 0 auto;
                                  cursor: pointer;
                                  width: 20px;
                                  height: 20px;
                                  border: 3px solid rgba(255, 255, 255, 0);
                                  border-radius: 3px;
                                  position: relative;
                                  overflow: hidden;
                                  box-shadow: 0px 0px 0px 2px #fff;
            
                                  div {
                                    width: 40px;
                                    height: 40px;
                                    background-color: #f7860e;
                                    top: -52px;
                                    left: -52px;
                                    position: absolute;
                                    transform: rotateZ(45deg);
                                    z-index: 100;
                                  }
            
                                  input[type=checkbox]:checked + div {
                                    left: -10px;
                                    top: -10px;
                                  }
            
                                  input[type=checkbox] {
                                    position: absolute;
                                    left: 50px;
                                    visibility: hidden;
                                  }
                                  
                                  .transition {
                                    transition: 300ms ease;
                                  }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.psyc_list_fetched {
            left: 0;
            z-index: 20;
            opacity: 1;
            transition: all ease .25s;
        }

        div.fill_trans_hidden {
            background-color: #262626;
            position: absolute;
            left: -50px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            display: block;
            visibility: none;
            z-index: -1;
            opacity: 0;
            transition: all ease .25s;

            table {
                width: 50%;
                color: #ededed;
                margin: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: .9rem;

                tbody {
                    tr {
                        td {
                            padding: 4px;
                            position: relative;

                            &:first-child {
                                font-weight: 600;
                            }

                            &:last-child {
                                font-weight: 500;
                                font-size: .85rem;
                            }

                            input {
                                width: 100%;
                                height: 25px;
                                padding: 5px;
                                outline: none;
                                border: solid #00000000 2px;
                                border-bottom: 2px solid #ededed;
                                background-color: #fff;
                                color: #212121;
                                font-size: .9rem;
                                font-weight: 500;
                                &:focus::placeholder {
                                    opacity: 0;
                                  }
                            }

                            button {
                                width: 100px;
                                height: 25px;
                                background-color: #f7860e;
                                color: #ededed;
                                border: none;
                                font-weight: 600;
                                outline: none;
                                cursor: pointer;
                                border: #00000000 solid 2px;
                                transition: all ease .25s;
                                position: relative;

                                &::first-letter {
                                    text-transform: uppercase;   
                                }
                            }

                            button.pay_bttn {
                                width: 100%;
                                background-color: #6878e0;
                            }

                            button:hover {
                                border: #ededed solid 2px;
                            }

                            div.mode_of_pay_bttn_selection_hidden {
                                width: 300px !important;
                                div {
                                    width: 120px !important;
                                    margin-bottom: 5px;
                                }
                            }

                            div.mode_of_pay_bttn_selection_hidden, div.type_of_pay_bttn_selection_hidden,
                            div.platform_bttn_selection_hidden {
                                position: absolute;
                                left: 140px;
                                top: 50%;
                                transform: translate(0, -50%);
                                z-index: -1;
                                opacity: 0;
                                transition: all ease .25s;
                                width: 100%;
                                div {
                                    display: inline-block;
                                    margin-left: 5px;
                                    transform: scale(.5);
                                    padding: 3px;
                                    font-weight: 600;
                                    width: 85px;
                                    height: 25px;
                                    background-color: #ededed;
                                    color: #262626;
                                    font-weight: 500;
                                    cursor: pointer;
                                    text-align: center;
                                    border: #00000000 solid 2px;
                                    transition: all ease .25s;

                                    &:hover {
                                        color: #ededed;
                                        background-color: #6878e0;
                                        border: #ededed solid 2px;
                                    }
                                }
                            }

                            div.mode_of_pay_bttn_selection_show, div.type_of_pay_bttn_selection_show,
                            div.platform_bttn_selection_show {
                                left: 105px !important;
                                z-index: 45 !important;
                                opacity: 1 !important;

                                div {
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        div.fill_trans_show {
            left: 0;
            visibility: visible;
            z-index: 35;
            opacity: 1;
        }
    }

    section#hybrid_purchase {
        border-radius: 10px;
        overflow: hidden;
        background-color: #373737;

        div#select_client {
            padding: 15px 10px;
            height: 10%;
            position: relative;
            color: #ededed;
            .client_name {
                font-size: .88rem;
                font-family: 'Poppins', sans-serif;
                display: inline-block;

                @media (max-width: 1050px) {
                    font-size: 0.8rem;
                }
                span {
                    display: block;
                }
            }

            button.select_client_bttn {
                color: #ededed;
                display: inline-block;
                margin: 0px 10px;
                padding: 5px;
                border-radius: 10px;
                background-color: #f7860e;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all ease .25s;
            
                p {
                  float: left;
                  font-size: .85rem;
                  margin: 3px 4px 0 5px;
                }
                i {
                  float: right;
                  font-size: 1.4rem;
                  line-height: 1.4rem;
                  margin-right: 5px;
                }
            
                &:hover {
                  background-color: #313a72;
                }
            
                &:active {
                  background-color: #ff8502;
                }
            }
        }

        div#display_selected {
            padding: 10px;
            height: 80%;
            overflow-y: auto;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            gap: 10px;
            scrollbar-width: thick;
            margin-right: 5px;
            scrollbar-color: #6878e0 #ededed00;

            div.selected_hybrid {
                background-color: #262626;
                color: #ededed;
                padding: 10px;
                min-height: 100px;
                border-radius: 10px;
                overflow: hidden;
                

                div.s_hybrid_name {
                    font-size: 1rem;
                    font-weight: 600;
                    @media (max-width: 1050px) {
                        font-size: 0.82rem;
                    }
                }

                p.s_hybrid_price {
                   font-size: .87rem;
                   font-weight: 500;
                   width: 100%;
                   @media (max-width: 1050px) {
                    font-size: 0.8rem;
                   }
                }

                .s_hybrid_psycList {
                    margin: 10px 0;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
                    background-color: #373737;
                    div {
                        p {
                            color: #ededed;
                            font-size: .88rem;
                            font-weight: 600;
                        }
                        div {
                            font-size: .86rem;
                        }
                        div.price_to_cap:first-letter {
                            color: #6878e0;
                            font-weight: 600;
                        }
                    }

                    .selected_psyc_test {
                        margin-bottom: 7px;
                    }
                }

                .discount_conainer {
                    width: 100%;
                    height: 25px;
                    display: flex;
                    gap: 10px;
                    font-size: .9rem;
                    margin-bottom: 5px;

                    label {
                        font-weight: 500;
                        padding: 4px 0;
                    }

                    input {
                        background-color: transparent;
                        border-bottom: 2px solid #ededed !important;
                        border: 2px solid #00000000;
                        outline: none;
                        padding: 3px;
                        padding: 4px;
                        font-weight: 500;
                        color: #ededed;
                        transition: all ease .25s;

                        &:focus {
                            border: 2px solid #ededed;
                        }
                    }
                }

                // For Products
                div.qty_bttn_wrapper {
                    display: inline-block;
                    width: 50%;
                    height: 30px;
                    position: relative;

                    span {
                        font-size: .8rem;
                        padding: 0 5%;
                    }

                    button.cremental_bttn {
                        background-color: #ededed;
                        border: solid 2px #00000000;
                        cursor: pointer;
                        color: #262626;
                        font-size: .90rem;
                        border: none;
                        outline: none;
                        font-weight: 700;
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                        padding: 4px;
                        transition: all ease .25s;

                        &:first-child {
                            margin-left: 10%;
                        }
                        i {
                            font-size: .9rem;
                            font-weight: 600;
                        }
                    }
                    button.cremental_bttn {
                        &:first-child:hover {
                            background-color: #f7860e;
                            color: #ededed;
                        }
                        &:last-child:hover {
                            background-color: #313a72;
                            color: #ededed;
                        }
                    }
                }

                button.psy_test_bttn {
                    width: 50%;
                    margin: 10px auto;
                    border: solid 2px #00000000;
                    color: #262626;
                    font-size: .87rem;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    padding: 5px;
                    transition: all ease .25s;

                    &:first-child {
                        background-color: #ededed;
                    }

                    &:last-child {
                        background-color: #ff8502;
                        color: #ededed;
                    }
                }

                button.psy_test_bttn:not(:last-child):hover {
                    border: solid 2px #ededed;
                    color: #ededed;
                    background-color: #262626;
                }

                button.psy_test_bttn:not(:first-child):hover {
                    border: solid 2px #ededed;
                }

                button.psy_test_bttn:active {
                    border: solid 2px #ededed;
                    background-color: #6878e0;
                    color: #ededed;
                }
                
            }

            div.overflow-scroll {
                overflow-y: auto !important;
            }
        }

        div#proceed_to_payment {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            .payment_cancel_bttn_hidden {
                width: 90%;
                margin: 7px auto;
                border: solid 2px #00000000;
                padding: 7px;
                color: #ededed;
                font-size: .87rem;
                cursor: pointer;
                font-weight: 600;
                border-radius: 10px;
                background-color: #313a72;
                transition: all ease .25s;

                &:hover {
                    background-color: #ededed;
                    color: #262626;
                    border:  solid 2px #313a72;
                    color: #313a72;
                }
            }

            .payment_cancel_bttn_show {
                background-color: #f7860e;
                color: #ededed;

                &:hover {
                    border:  solid 2px #f7860e;
                    color: #f7860e;
                }
            }
        }
    }
}

