#page-container {
    width: 100%;
    height: 90svh;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 30px;
    letter-spacing: .025em;

    div.grid-store {
        margin-top: 30px;
        background-color: rgb(23, 23, 23);
        padding: 20px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        height: 100%;
        
        .prod-label {
            color: white;
            font-weight: 400;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }

        &.add-store-wrapper {
            padding: 35px;

            label {
                display: inline-block;
                color: #fff;
                margin: 15px 0 5px;
            }

            input {
                display: inline-block;
                height: 30px;
                width: 100%;
                border: none;
                background-color: #262626;
                padding: 5px;
                outline: none;
                font-weight: 500;
                color: #ededed;
                border-bottom: 2px #f7860e00 solid;

                &:focus {
                border-bottom: 2px #f7860e solid !important;
                }

                &::placeholder {
                    opacity: 1;
                    transition: all ease .25s;
                }

                &:focus::placeholder {
                    opacity: 0;
                }
            }

            #add-bttn {
              width: 100%;
              margin-top: 15px;
              height: 50px;
              position: relative;
              display: flex;
              justify-content: space-between;

              button {
                background-color: #313a72;
                outline: none;
                border: none;
                width: 100%;
                padding: 5px;
                height: 30px;
                color: #fff;
                text-align: center;
                cursor: pointer;
                transition: all ease .25s;

                &:hover {
                    transform: scale(1.03);
                }

                &:active {
                    transform: scale(.97);
                }

                &.add-bttn {

                  &:hover {
                    background-color: #6878e0 !important;
                  }
    
                  &:active {
                      background-color: #313a72;
                  }
                }

                &.cancel-bttn {
                  background-color: #f7860e;
    
                  &:hover {
                    background-color: #ffa340;
                  }
    
                  &:active {
                      background-color: #f7860e;
                  }
                }
              }
            }

            p.check-input {
                color: #f7860e;
                font-size: .9rem;
                display: block;
                font-weight: 500;
            }

        }

        &.stores-wrapper {
            grid-column: span 2;
            position: relative;

            div.search-form {
                display: flex;
                justify-content: center;
                margin-bottom: 10px;

                input.search-bar {
                    color: #f7860e;
                    background-color: #272727;
                    border: none;
                    border-radius: 50px;
                    width: 300px;
                    padding: 5px ;
                    text-align: center;
                    outline: none;

                    &::placeholder {
                        opacity: 1;
                        color: #ababab;
                        transition: all ease .25s;
                    }

                    &:focus::placeholder {
                        opacity: 0;
                    }
                }

                i {
                    color: #6878e0;
                    font-size: 1.7rem;
                }
            }

            .overflow-store-description {
              position: relative;
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
              grid-template-rows: repeat(auto-fill, 200px);
              height: 70svh;
              overflow-y: auto;
              overflow-x: hidden;
              padding: 0 10px;
              gap: 10px;
              scrollbar-width: thick;
              scrollbar-color: #6878e0 #ededed00;
              justify-content: start;
              align-items: center;
          
                p.not-found {
                  color: #f7860e;
                }
          
                div.store-info {
                  position: relative;
                  background-color: #1a1a1a;
                  padding: 15px;
                  color: #fff;
                  width: 100%;
                  border-radius: 10px;
                  height: 200px;
                  display: inline-block;

                  .birtin {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    font-weight: 500;
                    font-size: .85rem;
                  }
                  
                  &:nth-child(odd) {
                    .store-name-text {
                      color: #7889fa;
                    }
                  }
          
                  &:nth-child(even) {
                    .store-name-text {
                      color: #f7860e;
                    }
                  }
          
                  .store-name-text {
                    letter-spacing: 1px;
                    font-family: 'Raleway', sans-serif;
                    font-size: .9rem;
                    margin-bottom: 3px;
                    width: 90%;
                    font-weight: 500;
                  }
          
                  .store-description-text {
                    font-size: .85rem;
                    margin-bottom: 7px;
                    font-weight: 300;

                    span {
                        &.desc-label {
                        font-weight: 500;
                        font-size: .87rem;
                        display: block;
                        }

                        &.desc {
                           color: #fff;
                           border-bottom: 2px solid #ababab;
                           a {
                            border-bottom: 2px solid #ababab;
                            transition: all ease .25s;
                           }
                           a:hover {
                            border-bottom: 2px solid #f7860e;
                           }
                        }
                    }
                  }
          
                  div.buttons-container {
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    overflow: visible;
          
                    button {
                      width: 100px;
                      height: 30px;
                      margin-top: 10px;
                      border: none;
                      cursor: pointer;
                      color: #fff;
                      position: relative;
            
                      &.update-store-bttn {
                        background-color: #313a72;
                      }
            
                      &.delete-store-bttn {
                        background-color: #f7860e;
                        margin-left: 10px;
                        transition: all ease .25s;
                      }
            
                      div {
                        opacity: 1;
                        transition: all ease .25s;
                      }
            
                      i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.4rem;
                        scale: .3;
                        opacity: 0;
                        transition: all ease .25s;
                      }
                    }
          
                    .store-quantity-text {
                      font-size: .75rem ;
                      color: #c4c4c4;
                      position: absolute;
                      right: 20px;
                      top: 50%;
                      transform: translateY(-30%);
                    }
            
                    button:hover {
                      div {
                        transform: translateX(-10px);
                        opacity: 0;
                      }
            
                      i {
                        scale: 1;
                        opacity: 1;
                      }
                    }
                  }
                }
            }
        }
    }
    
}